# Decision Tree

Tinggi > 180?      = the root / root node
      |
      |
 -----------
 |         |
yes        no
usia>10?   bb>50?  = internal nodes / node
 |
basket             = leaf nodes / leaves

<hr>

### Basic Decision Tree #1 => Binary Classification (no/yes, 0/1)

In [1]:
import pandas as pd
import numpy as np

In [14]:
df = pd.DataFrame({
    'sarjana': [0, 1, 0, 1, 1, 1],
    'wage>50': [1, 1, 0, 1, 0, 1]
})
df

   sarjana  wage>50
0        0        1
1        1        1
2        0        0
3        1        1
4        1        0
5        1        1

- Dari dataset di atas, dapat diketahui dengan mudah bahwa jika pendidikan = S2, maka gaji = 20juta

   sarjana?
      |
      |
 -----------
 |         |
yes        no
gaji>50    gaji<50
3 | 1      1 | 1

# gini impurity = 1 - (probability YES)^2 - (probability NO)^2

- sarjana => YES  wage>50jt = 0 => 1    giniLeaf1 = 1 - (3/4)^2 - (1/4)^2 = 1-0.5625-0.0625 = 0.375
                  wage>50jt = 1 => 3
                  
          => NO   wage>50jt = 0 => 1    giniLeaf2 = 1 - (1/2)^2 - (1/2)^2 = 0.5
                  wage>50jt = 1 => 1
          
          gini for sarjana = 
          ((totalDataLeaf1 / totalDataLeaf12) * giniLeaf1) + ((totalDataLeaf2 / totalDataLeaf12) * giniLeaf2) 
          ((4 / 6) * 0.375) + ((2 / 6) * 0.5)
          0.25 + 0.167
          0.417

<hr>

### Basic Decision Tree #2 => Binary Classification (no/yes, 0/1) Multi Features

In [15]:
df = pd.DataFrame([
    {'sarjana': 1, 'sehat':1, 'supel':1, 'wage>50jt':1},
    {'sarjana': 1, 'sehat':0, 'supel':0, 'wage>50jt':1},
    {'sarjana': 0, 'sehat':1, 'supel':1, 'wage>50jt':0},
    {'sarjana': 0, 'sehat':0, 'supel':1, 'wage>50jt':0},
    {'sarjana': 0, 'sehat':0, 'supel':1, 'wage>50jt':0}
])
df

   sarjana  sehat  supel  wage>50jt
0        1      1      1          1
1        1      0      0          1
2        0      1      1          0
3        0      0      1          0
4        0      0      1          0

- Dari dataset di atas, apakah seorang karyawan memiliki salary>50jt tidak dapat ditentukan hanya dengan melihat sarjana saja atau sehat saja.

- Untuk menentukan bagaimana bentuk decision tree-nya, kita harus menghitung & membandingkan __impurity__ tiap feature. Salah satu cara menentukan impurity dengan menghitung __gini impurity__.

# menentukan leaf berdasarkan tiap feature & menghitung gini impurity tiap leaf

# gini impurity = 1 - (probability YES)^2 - (probability NO)^2

- sarjana => YES  wage>50jt = 0 => 0    giniLeaf1 = 1 - (2/2)^2 - (0/2)^2 = 0
                  wage>50jt = 1 => 2
                  
          => NO   wage>50jt = 0 => 3    giniLeaf2 = 1 - (0/3)^2 - (3/3)^2 = 0
                  wage>50jt = 1 => 0
          
          gini for sarjana = 
          ((totalDataLeaf1 / totalDataLeaf12) * giniLeaf1) + ((totalDataLeaf2 / totalDataLeaf12) * giniLeaf2) 
          ((2 / 5) * 0) + ((3 / 5) * 0)
          0
          
=============================================================================================================
          
- sehat   => YES  wage>50jt = 0 => 1    gini = 1 - (1/2)^2 - (1/2)^2 = 0.5
                  wage>50jt = 1 => 1
                  
          => NO   wage>50jt = 0 => 2    gini = 1 - (1/3)^2 - (2/3)^2 = 1-0.1089-0.4356 = 0.45
                  wage>50jt = 1 => 1
                 
          gini for sehat = 
          ((totalDataLeaf1 / totalDataLeaf12) * giniLeaf1) + ((totalDataLeaf2 / totalDataLeaf12) * giniLeaf2) 
          ((2 / 5) * 0.5) + ((3 / 5) * 0.45)
          0.2 + 0.27 = 0.47

=============================================================================================================

- supel   => YES  wage>50jt = 0 => 3    gini = 1 - (1/4)^2 - (3/4)^2 = 1-0.0625-0.5625  0.375
                  wage>50jt = 1 => 1
                  
          => NO   wage>50jt = 0 => 0    gini = 1 - (1/1)^2 - (0)^2 = 0
                  wage>50jt = 1 => 1
                  
          gini for supel = 
          ((totalDataLeaf1 / totalDataLeaf12) * giniLeaf1) + ((totalDataLeaf2 / totalDataLeaf12) * giniLeaf2) 
          ((4 / 5) * 0.375) + ((1 / 5) * 0)
          0.3

- Dari perhitungan gini impurity di atas, dapat dilihat bahwa:
    - Gini Sarjana = 0
    - Gini Sehat = 0.47
    - Gini Supel = 0.3
    
    
- Gini Sarjana memiliki nilai terendah (mampu membedakan salary >50jt atau tidak dg paling baik), sehingga feature sarjana dapat kita set sebagai __root node__.

<hr>

### Basic Decision Tree #3 => Numeric Data / Ranked Data

In [17]:
df = pd.DataFrame({
    'tinggi': [155, 175, 195, 205, 225],
    'jangkung': [0, 0, 1, 1, 1]
})
df

   tinggi  jangkung
0     155         0
1     175         0
2     195         1
3     205         1
4     225         1

- Untuk menghitung gini impurity, pertama sort data numeriknya lowest to highest! Kebetulan sdh urut.

- Hitung __average weight__ untuk tiap data numerik. Dalam kasus ini average weight = __165, 185, 200, 215__

- Hitung gini impurity untuk setiap average weight!

- tinggi<165   => YES  jangkung = 0 => 1    gini = 1 - (1/1)^2 - 0 = 0
                       jangkung = 1 => 0
                  
               => NO   jangkung = 0 => 1    gini = 1 - (1/4)^2 - (3/4)^2 = 1-0.0625-0.5625 = 0.375
                       jangkung = 1 => 3
                
          gini for tinggi<165 = 
          ((totalDataLeaf1 / totalDataLeaf12) * giniLeaf1) + ((totalDataLeaf2 / totalDataLeaf12) * giniLeaf2) 
          ((1 / 5) * 0) + ((4 / 5) * 0.375)
          0 + 0.3 = 0.3
          
=============================================================================================================

dst gini tinggi<185, 200 & 215.
Gini terendah digunakan sebagai node root

<hr>

### Basic Decision Tree #4 => Multiple Choices Data

In [18]:
df = pd.DataFrame({
    'genreFavorit': ['Action', 'Fiction', 'Animation', 'Action', 'Fiction'],
    'lulusUjian': [0, 0, 1, 1, 1]
})
df

  genreFavorit  lulusUjian
0       Action           0
1      Fiction           0
2    Animation           1
3       Action           1
4      Fiction           1

- Untuk menghitung gini impurity __multiple choices data__, perlu dihitung setiap choice & kombinasinya:
    - Action
    - Fiction
    - Animation
    - Action or Fiction
    - Action or Animation
    - Fiction or Animation