# Decision Tree

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<hr>

### 1.a. Decision Tree Binary Classification (Perfect Case)

In [14]:
df = pd.DataFrame({
    'sarjana': [0, 0, 0, 1, 1, 1],
    'wage>50': [0, 0, 0, 1, 1, 1]
})
df

   sarjana  wage>50
0        0        0
1        0        0
2        0        0
3        1        1
4        1        1
5        1        1

- Sarjana - YES - wage>50 = 0 :  ada 0 data
                - wage>50 = 1 :  ada 3 data
          - NO  - wage>50 = 0 :  ada 3 data
                - wage>50 = 1 :  ada 0 data
                
         Sarjana?            =>  the root / root node (starting question)
            |
            |
     --------------           > internal node / node (question branch)
 yes |            | no
     |            |
 wage>50jt    wage>50jt      => leaf nodes / leaves (conclusion)
   1 | 0        1 | 0
   3 | 0        0 | 3

### Using Sklearn

In [23]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(df[['sarjana']], df['wage>50'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
tree.export_graphviz(
    model.fit(df[['sarjana']], df['wage>50']), 
    out_file='15.0.dot',
    feature_names=['sarjana'],
    class_names=['>50++', '<50--']
)
# go to https://dreampuf.github.io/GraphvizOnline 
# to convert the .dot to .png/.svg/image!

![tree](./15.01a.png)

<hr>

### 1.b. Decision Tree Binary Classification (Not so Perfect Case)

In [27]:
df = pd.DataFrame({
    'sarjana': [0, 0, 0, 1, 1, 1],
    'wage>50': [0, 0, 1, 0, 1, 1]
})
df

   sarjana  wage>50
0        0        0
1        0        0
2        0        1
3        1        0
4        1        1
5        1        1

- Sarjana - YES - wage>50 = 0 :  1 data          gini leaf1 = 1 - (1/3)^2 - (2/3)^2 = 1-0.189-0.4356 = 0.3754
                - wage>50 = 1 :  2 data
          - NO  - wage>50 = 0 :  2 data          gini leaf2 = 1 - (2/3)^2 - (1/3)^2 = 1-0.189-0.4356 = 0.3754
                - wage>50 = 1 :  1 data
  
          giniLeaf Sarjana = (tot.data1/tot.data)*gini1 + (tot.data2/tot.data)*gini2
                           = (3/6)*0.3754 + (3/6)*0.3754 = 0.3754
  
  > Sarjana Tree
  
         Sarjana?            =>  the root / root node (starting question)
            |
            |
     --------------           > internal node / node (question branch)
 yes |            | no
     |            |
 wage>50jt    wage>50jt      => leaf nodes / leaves (conclusion)
   1 | 2        2 | 1

 * Tree yg hanya mengandung 1 node & 2 leaves = stump

In [28]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(df[['sarjana']], df['wage>50'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [29]:
tree.export_graphviz(
    model.fit(df[['sarjana']], df['wage>50']), 
    out_file='15.01b.dot',
    feature_names=['sarjana'],
    class_names=['>50++', '<50--']
)

![tree](./15.01b.png)

<hr>

### 2. Decision Tree Binary Classification, Multiple Features

In [32]:
df = pd.DataFrame([
    {'sarjana': 1, 'sehat':1, 'supel':1, 'wage>50jt':1},
    {'sarjana': 1, 'sehat':0, 'supel':0, 'wage>50jt':1},
    {'sarjana': 0, 'sehat':1, 'supel':1, 'wage>50jt':0},
    {'sarjana': 0, 'sehat':0, 'supel':1, 'wage>50jt':0},
    {'sarjana': 0, 'sehat':0, 'supel':1, 'wage>50jt':0}
])
df

   sarjana  sehat  supel  wage>50jt
0        1      1      1          1
1        1      0      0          1
2        0      1      1          0
3        0      0      1          0
4        0      0      1          0

- Dari dataset di atas, apakah seorang karyawan memiliki salary>50jt tidak dapat ditentukan hanya dengan melihat sarjana saja, supel saja atau sehat saja. Untuk menentukan bagaimana bentuk decision tree-nya, kita harus menghitung & membandingkan __impurity__ tiap feature. Salah satu cara menentukan impurity dengan menghitung __gini impurity__.

- Gini impurity = $ \displaystyle 1 - $ probability YES $^2 - $ probability NO$^2$

- Sarjana - YES - wage>50 = 0 :  0     gini leaf1 = 1 - (2/2)^2 - (0/2)^2 = 0
                - wage>50 = 1 :  2
            
          - NO  - wage>50 = 0 :  3     gini leaf2 = 1 - (0/3)^2 - (3/3)^2 = 0
                - wage>50 = 1 :  0
                
           gini Sarjana Tree = 
           ((totalData1 / totalData) * giniLeaf1) + ((totalData2 / totalData) * giniLeaf2)
           ((2 / 5) * 0) + ((3 / 5) * 0)
           0
                                       
====================================================================

- Sehat   - YES - wage>50 = 0 :  1     gini leaf1 = 1 - (1/2)^2 - (1/2)^2 = 1 - 0.25 - 0.25 = 0.5
                - wage>50 = 1 :  1
            
          - NO  - wage>50 = 0 :  2     gini leaf2 = 1 - (1/3)^2 - (2/3)^2 = 1 - 0.1089 - 0.4356 = 0.455
                - wage>50 = 1 :  1
                
           gini Sehat Tree = 
           ((totalData1 / totalData) * giniLeaf1) + ((totalData2 / totalData) * giniLeaf2)
           ((2 / 5) * 0.5) + ((3 / 5) * 0.455)
           0.2 + 0.273 = 0.473
                                       
====================================================================

- Supel   - YES - wage>50 = 0 :  3     gini leaf1 = 1 - (1/4)^2 - (3/4)^2 = 1 - 0.0625 - 0.5625 = 0.375
                - wage>50 = 1 :  1
            
          - NO  - wage>50 = 0 :  0     gini leaf2 = 1 - (1/3)^2 - (0/3)^2 = 1 - 0.1089 = 0.891
                - wage>50 = 1 :  1
               
           gini Supel Tree = 
           ((totalData1 / totalData) * giniLeaf1) + ((totalData2 / totalData) * giniLeaf2)
           ((4 / 5) * 0.375) + ((1 / 5) * 0.891)
           0.3 + 0.1782 = 0.4782

- Dari perhitungan gini impurity tiap feature, didapati bahwa:
    - Gini Sarjana = 0
    - Gini Sehat = 0.473
    - Gini Supel = 0.4782
    
    
- Makin rendah gini, maka featurenya dapat mengklasifikasikan dengan semakin baik. Sehingga feature dengan gini terendah dapat digunakan sebagai node root suatu decision tree.

Sarjana --- YES ---> 0 | 2  Sehat --- YES - wage>50 = 1  gini leaf1 = 1 - (1/1)^2 - (0/1)^2 = 0         |                         |
        |                         |       - wage>50 = 0
        |                         |
        |                          --- NO  - wage>50 = 1  gini leaf2 = 1 - (1/1)^2 - (0/1)^2 = 0
        |                                  - wage>50 = 0
        |                                  
        |                                                 gini sehat = 1/2 * 0 + 1/2 * 0 = 0
        |
        |                   Supel --- YES - wage>50 = 1  gini leaf1 = 1 - (1/1)^2 - (0/1)^2 = 0         |                         |
        |                         |       - wage>50 = 0
        |                         |
        |                          --- NO  - wage>50 = 1  gini leaf2 = 1 - (1/1)^2 - (0/1)^2 = 0
        |                                  - wage>50 = 0
        |                                  
        |                                                 gini supel = 1/2 * 0 + 1/2 * 0 = 0
        |
        |
        --- NO  ---> 3 | 0   Sehat --- YES - wage>50 = 0  gini leaf1 = 1 - (0/1)^2 - (0/1)^2 = 1                                  |
                                 |         - wage>50 = 0
                                 |
                                  --- NO  - wage>50 = 0  gini leaf2 = 1 - (0/1)^2 - (0/1)^2 = 1
                                          - wage>50 = 0
                                          
                                                         gini sehat = 1 * 0 + 1 * 0 = 0
        
                             Supel --- YES - wage>50 = 0  gini leaf1 = 1 - (0/1)^2 - (0/1)^2 = 1                                  |
                                 |         - wage>50 = 0
                                 |
                                  --- NO  - wage>50 = 0  gini leaf2 = 1 - (0/1)^2 - (0/1)^2 = 1
                                          - wage>50 = 0
                                          
                                                        gini supel = 1 * 0 + 1 * 0 = 0

In [34]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(df[['sarjana', 'sehat', 'supel']], df['wage>50jt'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [38]:
tree.export_graphviz(
    model.fit(df[['sarjana', 'sehat', 'supel']], df['wage>50jt']), 
    out_file='15.02.dot',
    feature_names=['sarjana', 'sehat', 'supel'],
    class_names=['>50++', '<50--']
)

![tree](./15.02.png)