In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [12]:
data = {
    'TB': [0.8, 0.85, 0.92, 0.88, 0.82, 0.86, 0.87, 0.93, 0.81, 1],
    'BB': [20, 25, 21, 29, 30, 21, 28, 27, 29, 30]
}
df = pd.DataFrame(data)
df

     TB  BB
0  0.80  20
1  0.85  25
2  0.92  21
3  0.88  29
4  0.82  30
5  0.86  21
6  0.87  28
7  0.93  27
8  0.81  29
9  1.00  30

### Normalisasi

Normalisasi $\displaystyle x' = \frac {x - x_{min}} {x_{max} - x_{min}}$

Data ternormalisasi memiliki nilai antara 0 & 1

<hr>

### 1. Normalisasi dengan pandas

In [13]:
n1tb = (df['TB'] - df['TB'].min())/(df['TB'].max() - df['TB'].min())
n1bb = (df['BB'] - df['BB'].min())/(df['BB'].max() - df['BB'].min())
df['TB N pd'] = n1tb
df['BB N pd'] = n1bb
df

     TB  BB  TB N pd  BB N pd
0  0.80  20     0.00      0.0
1  0.85  25     0.25      0.5
2  0.92  21     0.60      0.1
3  0.88  29     0.40      0.9
4  0.82  30     0.10      1.0
5  0.86  21     0.30      0.1
6  0.87  28     0.35      0.8
7  0.93  27     0.65      0.7
8  0.81  29     0.05      0.9
9  1.00  30     1.00      1.0

<hr>

### 2. Normalisasi dengan Sklearn MinMaxScaler

In [14]:
from sklearn.preprocessing import MinMaxScaler
n2tb = MinMaxScaler().fit_transform(df[['TB']])
n2bb = MinMaxScaler().fit_transform(df[['BB']])
print(n2tb)
print(n2bb)

[[0.  ]
 [0.25]
 [0.6 ]
 [0.4 ]
 [0.1 ]
 [0.3 ]
 [0.35]
 [0.65]
 [0.05]
 [1.  ]]
[[0. ]
 [0.5]
 [0.1]
 [0.9]
 [1. ]
 [0.1]
 [0.8]
 [0.7]
 [0.9]
 [1. ]]

In [15]:
df['TB n skl'] = n2tb
df['BB n skl'] = n2bb
df

     TB  BB  TB N pd  BB N pd  TB n skl  BB n skl
0  0.80  20     0.00      0.0      0.00       0.0
1  0.85  25     0.25      0.5      0.25       0.5
2  0.92  21     0.60      0.1      0.60       0.1
3  0.88  29     0.40      0.9      0.40       0.9
4  0.82  30     0.10      1.0      0.10       1.0
5  0.86  21     0.30      0.1      0.30       0.1
6  0.87  28     0.35      0.8      0.35       0.8
7  0.93  27     0.65      0.7      0.65       0.7
8  0.81  29     0.05      0.9      0.05       0.9
9  1.00  30     1.00      1.0      1.00       1.0

<hr>

### 3. Normalisasi dengan Sklearn MinMax_scale

In [16]:
from sklearn.preprocessing import minmax_scale
df['TB n skl2'] = minmax_scale(df['TB'])
df['BB n skl2'] = minmax_scale(df['BB'])
df

     TB  BB  TB N pd  BB N pd  TB n skl  BB n skl  TB n skl2  BB n skl2
0  0.80  20     0.00      0.0      0.00       0.0       0.00        0.0
1  0.85  25     0.25      0.5      0.25       0.5       0.25        0.5
2  0.92  21     0.60      0.1      0.60       0.1       0.60        0.1
3  0.88  29     0.40      0.9      0.40       0.9       0.40        0.9
4  0.82  30     0.10      1.0      0.10       1.0       0.10        1.0
5  0.86  21     0.30      0.1      0.30       0.1       0.30        0.1
6  0.87  28     0.35      0.8      0.35       0.8       0.35        0.8
7  0.93  27     0.65      0.7      0.65       0.7       0.65        0.7
8  0.81  29     0.05      0.9      0.05       0.9       0.05        0.9
9  1.00  30     1.00      1.0      1.00       1.0       1.00        1.0

<hr>

### Inverse Transform

mengembalikan nilai standardisasi ke nilai sebenarnya

In [20]:
# inverse transform
scaler = MinMaxScaler()

scaler.fit(df[['TB', 'BB']])

inv = scaler.inverse_transform(
    df[['TB n skl2', 'BB n skl2']]
)
print(inv)

[[ 0.8  20.  ]
 [ 0.85 25.  ]
 [ 0.92 21.  ]
 [ 0.88 29.  ]
 [ 0.82 30.  ]
 [ 0.86 21.  ]
 [ 0.87 28.  ]
 [ 0.93 27.  ]
 [ 0.81 29.  ]
 [ 1.   30.  ]]